<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome to the Dashboard (Principal Here)</h1>
    <p>You have successfully logged in.</p>
    <a href="/create-user">Create User</a>
    <div class="links">
        <a href="/create-school-year">Create School Year</a>
        <a href="/edit-school-years">Edit School Year</a>
        <a href="/view-school-years">View School Year</a>
        <a href="/add-new-info">Add New Information</a>
      </div>
      

  </body>
</html>