.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  background-color: #f5f5f5;

}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* From Here **/
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
  margin-bottom: -1px;
  border-radius: 0;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.submit-button {
    background-color: #1d4e89;
    border: none;
}


.loginHeadText {
    color:#1d4e89;
    text-align: center;
}

.errorMessage {
    text-align: center;
}

.dropdown {
  background-color: none;
  text-align: left;
}

#role{
  text-align: center;
    border: none;
    border-color: #00b2ca;
    background-color: #1d4e89;
    border-radius: 0.5rem;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    width: fit-content;
    color: #ffffff;
}

a {
    text-align: center;
    align-items: center;
    background-color: blue;
}

.searchBar {
  color: #1d4e89;
}

.dashboardArea{
  color: #1d4e89;
}

.card-body {
  margin-top: 50px;
}

.view-users {
  border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.view-users thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.view-users th,
.view-users td {
    padding: 12px 15px;
}

.view-users tbody tr {
  border-bottom: 1px solid #dddddd;
}

.view-users tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.view-users tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

#secondHeaderCreateUser {
  color: #1d4e89;
  font-weight: 600;
}

.wholePage {
float:inline-end;
}

.firstPartForm {
  text-align: left;
}


.secondPartTable {
  float: left;
}

.table-section {
  margin-top: 400px;

}
.
